.container {
  display: grid;
  place-content: center;
  user-select: none;
}
.btnContainer {
  border: 1px solid var(--color-aux-primary);
  min-width: 200px;
  height: 28px;
  border-radius: 20px;
  font-weight: bold;
  color: var(--color-aux-primary);
  display: grid;
  place-content: center;

}
