:root {
  --bg-primary-background: #000;
  --bg-secondary-background: #29282d;
  --color-text-primary: #fff;
  --color-text-secondary: #acacac;
  --color-text-third: #5e5ce6;
  --color-aux-primary: #5e5ce6;
  --color-aux-primary-degrade: #5e5ce670;
  --color-aux-secondary: #fff;
  --color-shadows-primary: #c0c0c0;
  --color-transparent: transparent;
  --color-error: #ff004d;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 16px;
}

html {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  background-color: var(--bg-primary-background);
  color: var(--color-text-primary);
}
main {
  max-width:  3000px;
  /* padding-top: 2rem; */
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

*/
a {
  color: inherit;
  text-decoration: none;
}
