.container {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 5rem;
}

.p {
    font-size: 16px;
    line-height: 2;
}

.containerBtn{
    display: flex;
    justify-content: center;
}