.containerHeader {
  min-height: 13.21rem;
  background-color: var(--bg-secondary-background);
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--color-shadows-primary);
  border-radius: 5px;
}

.containermenu {
  height: 3rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 1rem;
}

.containerInfo {
  height: 10.21rem;
  display: flex;
}

.containerText {
  display: flex;
  flex-direction: column;
  min-width: 12.5rem;
  padding:1rem 0 0 3rem;
  gap: 0.3rem;
}

.textHi {
  font-size: .9rem;
}

.textName {
  font-size: 1.3rem;
  color: var(--color-text-third);
}

.textSubTitle {
  font-size: .9rem;
  color: var(--color-text-secondary);
}

.containerImage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
}
