.container {
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 1px;
  background-color: var(--bg-secondary-background);
}

.headerMenu {
  height: 5rem;
  background-color: var(--bg-primary-background);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem 0 2rem;
  color: var(--color-aux-primary);
}

.textName {
  color: var(--color-text-primary);
  font-size: 1.3rem;
  font-weight: 600;
}

.bodyMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6rem;
  padding: 4rem 0 0 4rem;
}

.itemMenu {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  gap: 3rem;
  font-weight: 600;
  user-select: none;

}
